<div class="flex flex-col absolute top-0 justify-items-center items-center w-full h-full bg-red-50 gap-12">
  <h1 class="text-rose-700 font-extrabold text-4xl p-6">Productos</h2>

  {{#if products.length}}
  <div>
    <table>
      <tr class="grid grid-cols-3 gap-x-12 gap-y-12">
        <th>Titulo</th>
        <th>Precio</th>
        <th>Foto</th>
      </tr>

      {{#each products}}
      <tr class="mt-4 grid grid-cols-3 gap-x-12 gap-y-12 bg-red-100 p-3 justify-items-center items-center">
        <td>
          {{this.title}}
        </td>
        <td>
          {{this.price}}
        </td>
        <td>
          <img class="w-12 h-12" src="{{this.thumbnailPath}}" alt="{{this.title}}">
        </td>
      </tr>
      {{/each}}
    </table>
  </div>
  {{else}}
  <h3>No se encontraron productos</h3>
  {{/if}}
</div>